body
{
    width: auto; height: auto;
    font-family: "Sono", sans-serif;
    font-size: 180%;
    background-image: url(../Media/Background.jpg);
    background-size: cover;
}

.MainShape
{
    
    border-radius: 25px;
    width:90% ; height:95% ;
    background-color:rgba(255, 255, 255, 0.70) ;
    margin-left: 5%; margin-right: 5%; margin-top: 20%;
    text-align: center;
    
}

.ProfilePhoto
{
    z-index: 5;
    position: absolute; transform: translate(-50%,-50%);
    position: absolute; left: 50%; top: var(--MainShape-top);
    border-radius: 50%;
    display: block;
    width:20%;min-width: 250px; aspect-ratio:1/1;
}

.MainText
{
    padding: 5%; padding-top: 10%;
}


.MainText h1 {font-size: 350%; font-weight: bolder;}

.Title {margin-bottom: 2%;}



.TabButtons button 
{
    width: 24%; height: 150px; background-color: rgba(120, 202, 188, 0.10); 
    border:0; border-radius: 5%;
    font-family: "Sono";font-size: 180%; font-weight: bold; text-align: center;
    padding-right: 7%; padding-left: 7%; margin-bottom:3%; vertical-align:middle;
}


iframe {width: 50%; }

h1 h2 p {opacity: 200%; color: rebeccapurple;}