body
{
    background-image: url(https://images7.alphacoders.com/316/316536.jpg);
    text-align: center;
    margin-left: auto; margin-right: auto;
}
.Background
{
    background-color: aliceblue;
    width:1920px ; height: 1080px;
    margin:auto
}
.MainTitle 
{
    padding: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}